

<app-header></app-header>





<!--<div class="container">-->
<!--  <app-saludo [nombre]="nombreActual"></app-saludo>-->
<!--  <button (click)="cambiarNombre()" class="btn btn-primary mt-3">Cambiar Nombre</button>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <app-contador></app-contador>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <app-ListaTarea></app-ListaTarea>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <app-temporizador></app-temporizador>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <h1>Aplicación de Comentarios</h1>-->

<!--  <app-comentarios (comentarioEnviado)="recibirComentario($event)"></app-comentarios>-->

<!--  <h3>Comentarios Recibidos:</h3>-->
<!--  <ul class="list-group">-->
<!--    <li class="list-group-item" *ngFor="let comentario of comentariosRecibidos">-->
<!--      {{ comentario }}-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

<!--<div class="container">-->
<!--  <app-producto-->
<!--    [nombreProducto]="'Laptop'"-->
<!--    [descripcionProducto]= "'Laptop de última generación'"-->
<!--    [precioProducto]= "1500">-->
<!--  </app-producto>-->
<!--</div>-->

<div class="container">
  <app-compra></app-compra>
</div>



